@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 220 38 38;
    --color-secondary: 127 29 29;
    --color-tertiary: 69 10 10;
    --color-black: 0 0 0;
    --color-white: 255 255 255;
  }

  /* :root {
    --color-primary: 37 99 235;
    --color-secondary: 30 58 138;
    --color-tertiary: 23 37 84;
    --color-black: 0 0 0;
    --color-white: 255 255 255;
  } */

  /* :root {
    --color-primary: 37 235 40;
    --color-secondary: 38 138 30;
    --color-tertiary: 23 84 34;
    --color-black: 0 0 0;
    --color-white: 255 255 255;
  } */
}

@layer components {
  .btn {
    @apply flex items-center justify-between px-4 py-1 text-lg rounded border-black border-2 whitespace-nowrap;
  }

  .btn:hover {
    @apply bg-primary text-white;
  }

  .btn svg {
    @apply ml-2 transition-transform duration-300;
  }

  .btn-primary {
    @apply bg-primary text-white border-primary;
  }

  .btn-primary:hover {
    @apply bg-white text-primary;
  }

  .btn-secondary {
    @apply bg-white text-primary border-primary;
  }

  .btn-secondary:hover {
    @apply bg-primary text-white border-primary;
  }

  .btn-disabled {
    @apply bg-gray-200 text-gray-500 border-gray-200 pointer-events-none cursor-not-allowed;
  }

  .open svg {
    @apply -rotate-90;
  }

  .goals {
    @apply max-h-0 transition-max-height overflow-hidden duration-300;
  }

  .nav {
    @apply text-white text-2xl font-bold;
  }

  .nav ul {
    @apply flex justify-center;
  }

  .nav ul li a {
    @apply py-1 px-3 block cursor-pointer;
  }

  .nav a:hover {
    @apply underline;
  }

  .mid-sussex {
    @apply absolute top-3 right-8;
  }

  .mid-sussex-container {
    @apply flex items-center bg-tertiary rounded-full h-16 w-16 transition-width duration-700 absolute right-0;
  }

  .mid-sussex .image {
    @apply p-1 bg-white rounded-full overflow-hidden w-16;
  }

  .mid-sussex .text {
    @apply text-white w-0 overflow-hidden px-0 whitespace-nowrap transition-spacing duration-700 text-sm;
  }

  .mid-sussex:hover .text {
    @apply px-3 w-full;
  }

  .mid-sussex:hover .mid-sussex-container {
    @apply w-52;
  }

  .player-list {
    @apply flex flex-wrap justify-center items-end space-x-4 mt-20;
  }

  .player-card {
    @apply w-72 cursor-pointer mb-28 transition-all duration-300 delay-300;
  }

  .player-card .header {
    @apply h-40 flex justify-start relative bg-primary rounded-t-lg overflow-hidden transition-colors duration-500;
  }

  .player-card .number {
    @apply font-cursive text-white absolute top-1 left-1 z-30;
  }

  .player-card .logo {
    @apply absolute opacity-0 -left-14 transition-opacity duration-500;
  }

  .player-card .name {
    @apply absolute top-10 left-2 text-left text-white w-3/5 text-4xl font-bold z-30 font-cursive transition-opacity duration-200;
  }

  .player-card .position-container {
    @apply absolute -bottom-2 w-full h-8 bg-secondary text-white px-6 py-1 rounded-b-lg text-center z-40 capitalize overflow-hidden [transition:height_.3s_ease,bottom_.3s_ease_.3s];
  }

  .player-card .position {
    @apply text-base transition-all duration-300;
  }

  .player-card .placeholder {
    @apply absolute bottom-0 right-0 h-64 w-auto mx-auto z-10;
  }

  .player-card:hover .logo {
    @apply opacity-20;
  }

  .stats {
    @apply max-h-0 transition-max-height duration-500;
  }

  .show-stats {
    @apply mb-44;
  }

  .show-stats .stats {
    @apply max-h-96;
  }

  .show-stats .position {
    @apply text-xl font-bold;
  }

  .show-stats .position-container {
    @apply h-60 rounded -bottom-20;
  }

  /* League table */

  .league-table {
    @apply table-auto border-separate border-spacing-2 mx-auto overflow-auto;
  }

  .league-table th {
    @apply border py-2 px-3 rounded bg-tertiary text-white border-tertiary text-sm md:text-xl font-sans uppercase md:capitalize;
  }

  .league-table td {
    @apply border py-2 px-2 md:px-3 text-center text-sm md:text-lg whitespace-nowrap;
  }

  .league-table .name {
    @apply text-left md:pr-24;
  }

  .league-table .home td {
    @apply bg-primary/5 py-4 font-cursive tracking-wide;
  }

  .tabs {
    @apply bg-neutral-300 rounded-full text-2xl;
  }

  .tab {
    @apply py-1 px-3 min-w-28;
  }

  .active {
    @apply bg-primary text-white rounded-full;
  }

  /* player table */

  .player-table {
    @apply table-auto mx-auto;
  }

  .player-table .header {
    @apply border-b-2 divide-x-2;
  }

  .player-table th {
    @apply text-xl;
  }

  .player-table td {
    @apply px-2 text-center text-lg py-3;
  }

  .player-table th,
  .player-table td {
    @apply px-2 text-center;
  }

  .player-table th:first-child,
  .player-table td:first-child {
    @apply text-left pr-10;
  }

  /* Homepage league table */

  .league-table-slim {
    @apply table-auto overflow-auto;
  }

  .league-table-slim th {
    @apply py-1 px-1 rounded text-lg font-sans text-center underline underline-offset-2;
  }

  .league-table-slim .name-header {
    @apply text-left;
  }

  .league-table-slim td {
    @apply py-1 px-1 text-center text-base whitespace-nowrap min-w-10;
  }

  .league-table-slim .name {
    @apply text-left pr-2 truncate max-w-40;
  }

  .league-table-slim .home {
    @apply bg-primary text-white font-cursive tracking-wide;
  }

  .league-table-slim .home td {
    @apply py-2;
  }

  /* headline */
  .headline {
    @apply p-5 rounded-md shadow-lg flex flex-col relative;
  }

  .headline .image {
    @apply relative;
  }

  .headline img {
    @apply rounded-md object-cover;
  }

  .headline .content {
    @apply py-3 bg-white;
  }

  .headline-flat {
    @apply flex items-center px-4 py-3 hover:underline;
  }

  .headline-flat .image {
    @apply relative w-32 h-32 drop-shadow-md;
  }

  .headline-flat .image img {
    @apply absolute w-full h-full rounded-md object-cover;
  }

  .headline-flat .content {
    @apply pl-4 w-64;
  }

  /* Admin table */

  .admin-table {
    @apply table-auto border-separate border-spacing-2 mx-auto overflow-auto;
  }

  .admin-table th {
    @apply border py-1 px-1 rounded bg-tertiary text-white border-tertiary text-lg font-sans;
  }

  .admin-table td {
    @apply border py-2 px-3 text-center text-lg whitespace-nowrap;
  }
}
