@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 220 38 38;
    --color-secondary: 127 29 29;
    --color-tertiary: 69 10 10;
    --color-black: 0 0 0;
    --color-white: 255 255 255;
  }

  /* :root {
    --color-primary: 37 99 235;
    --color-secondary: 30 58 138;
    --color-tertiary: 23 37 84;
    --color-black: 0 0 0;
    --color-white: 255 255 255;
  } */
}

@layer components {
  .btn {
    @apply flex items-center justify-between px-4 py-1 text-lg rounded border-black w-full border-2 whitespace-nowrap;
  }

  .btn:hover {
    @apply bg-primary text-white;
  }

  .btn svg {
    @apply ml-2 transition-transform duration-300;
  }

  .btn-primary {
    @apply bg-primary text-white border-primary;
  }

  .btn-primary:hover {
    @apply bg-white text-primary;
  }

  .btn-secondary {
    @apply bg-white text-primary border-primary;
  }

  .btn-secondary:hover {
    @apply bg-primary text-white border-primary;
  }

  .open svg {
    @apply -rotate-90;
  }

  .goals {
    @apply max-h-0 transition-max-height overflow-hidden duration-300;
  }

  .nav {
    @apply text-white text-xl;
  }

  .nav ul {
    @apply flex justify-center;
  }

  .nav ul li a {
    @apply py-1 px-3 block cursor-pointer;
  }

  .nav a:hover {
    @apply underline;
  }

  .mid-sussex {
    @apply absolute top-3 right-8;
  }

  .mid-sussex-container {
    @apply flex items-center bg-tertiary rounded-full h-12 w-12 transition-width duration-700;
  }

  .mid-sussex .image {
    @apply p-1 bg-white rounded-full overflow-hidden w-12;
  }

  .mid-sussex .text {
    @apply text-white w-0 overflow-hidden px-0 whitespace-nowrap transition-spacing duration-500 delay-200 text-sm;
  }

  .mid-sussex:hover .text {
    @apply px-3 w-full;
  }

  .mid-sussex:hover .mid-sussex-container {
    @apply w-full;
  }

  .player-card {
    @apply w-64 cursor-pointer;
  }

  .player-card .header {
    @apply h-32 flex justify-start relative bg-primary rounded-t-lg overflow-hidden transition-colors duration-500;
  }

  .player-card .number {
    @apply font-cursive text-white absolute top-1 left-1 z-30;
  }

  .player-card .logo {
    @apply absolute opacity-0 -left-14 transition-opacity duration-500;
  }

  .player-card .name {
    @apply flex flex-col justify-center text-white w-3/5 text-4xl font-bold text-end z-30 font-cursive transition-opacity duration-200;
  }

  .player-card .position {
    @apply relative bg-secondary text-white px-6 py-1 rounded-b-lg text-center z-20 transition-colors duration-500;
  }

  .player-card .placeholder {
    @apply absolute bottom-0 right-0 h-64 w-auto mx-auto z-10;
  }

  .player-card-logo-test:hover .logo {
    @apply opacity-20;
  }

  .league-table {
    @apply table-auto border-separate border-spacing-2;
  }

  .league-table th {
    @apply border;
  }

  .league-table td {
    @apply border;
  }
}
